.header{
    position: fixed;
    color: #f0f0f0;
    top:0;
    width: 100%;
    height: 8vh;
    box-shadow: 1px;
    align-items: center;
    box-shadow: -1px 1px 5px #cccccc;
}
a img{
    margin-left: 2vh;
    height: 7vh;
    width: auto;
}